@using SDL.ECommerce.DXA
@model BreadcrumbWidget
<div  @Html.DxaEntityMarkup()> 
    <ol class="breadcrumb">
        <li>
            <!-- Localize the home name here!! -->
            <a href="@SDL.ECommerce.DXA.ECommerceContext.LocalizePath("/")"><i class="fa fa-home"><span class="sr-only">Home</span></i></a>
        </li>
        @foreach (var breadcrumb in Model.Breadcrumbs.Where(breadcrumb => breadcrumb.IsCategory == true))
        {          
            /* TODO: SHOW THIS FOR ACTIVE CATEGORY
                <li class="active">
                    ${breadcrumb.title}
                </li>
            */
            <li>
                <a href="@ECommerceContext.LinkResolver.GetBreadcrumbLink(breadcrumb)">@breadcrumb.Title</a>
            </li>
        }
        <li class="active item-count">(@Model.TotalItems)</li>
    </ol>
    <div class="active-facets">
        @foreach (var breadcrumb in Model.Breadcrumbs.Where(breadcrumb => breadcrumb.IsCategory == false))
        {
            <a href="@ECommerceContext.LinkResolver.GetBreadcrumbLink(breadcrumb)" class="btn btn-primary">@breadcrumb.Title <i class="fa fa-times"></i></a>
        }
    </div>
</div>
