@using SDL.ECommerce.Api.Model
@using SDL.ECommerce.DXA
@model IImageMapPromotion
<div class="hero">
    <div style="position: relative;">
        @Html.Partial("Partials/EditControl", Model)
    </div>    
    <img src="@Model.ImageUrl" usemap="@Model.Id">
    <map name="@Model.Id">
        @foreach (var contentArea in Model.ContentAreas)
        {
            <area shape="rect" coords="@contentArea.X1,@contentArea.Y1,@contentArea.X2,@contentArea.Y2" href="@ECommerceContext.LinkResolver.GetLocationLink(contentArea.Location)">
        }               
    </map>

</div>

