@model CartWidget
<div class="content" @Html.DxaEntityMarkup()>
    <h3 style="margin-bottom: 24px;"><i class="fa fa-shopping-cart"></i> @Html.Resource("e-commerce.shoppingCartTitle")</h3>
    @if (Model.Cart == null || Model.Cart.Count == 0)
    {
        <div>@Html.Resource("e-commerce.shoppingCartEmptyText")</div>
    }
    else
    {
        <div class="row">
            <div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">@Html.Resource("e-commerce.productLabel")</div>
                            <div class="col-md-2">@Html.Resource("e-commerce.quantityLabel")</div>
                            <div class="col-md-2">@Html.Resource("e-commerce.priceLabel")</div>
                        </div>
                    </div>
                    @foreach (var item in Model.Cart.Items)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-1" style="text-align: center;">
                                    <a href="#" class="remove-from-cart" data-localization-prefix="@ECommerceContext.LocalizePath("/")" data-product-id="@item.Product.Id"><i class="fa fa-minus-square"></i></a>
                                </div>
                                <div class="col-md-2">
                                    <img src="@item.Product.ThumbnailUrl" height="100" />
                                </div>
                                <div class="col-md-5">
                                    <a href="@ECommerceContext.LinkResolver.GetProductVariantDetailLink(item.Product)"><strong>@item.Product.Name</strong></a>
                                </div>
                                <div class="col-md-2">
                                    @item.Quantity
                                </div>
                                <div class="col-md-2">
                                    @item.Price.FormattedPrice
                                </div>
                            </div>
                        </div>
                    }
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5"></div>
                            <div class="col-md-2"><strong>@Html.Resource("e-commerce.cartTotalLabel")</strong></div>
                            <div class="col-md-2">@Model.Cart.TotalPrice.FormattedPrice</div>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    @if (Model.CheckoutLink.Url != null)
                    {
                        <a class="btn btn-primary checkout-button" href="@Model.CheckoutLink.Url" @Html.DxaPropertyMarkup(() => Model.CheckoutLink)>@Model.CheckoutLink.LinkText <i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        </div>
    }
</div>
