@model FacetsWidget
<div  @Html.DxaEntityMarkup()>
    @* Temporary solution for the in-context menu - should be part of the header region *@
    @Html.Partial("Partials/InContextEditMenu")
    @foreach (var facetGroup in Model.FacetGroups)
    {
        <h5 class="facet-group">@facetGroup.Title @Html.Partial("Partials/EditControl", facetGroup)</h5>
        if (facetGroup.IsCategory)
        {
            <ul class="category-facets">
                @foreach (var facet in facetGroup.Facets)
                {
                    <li><a href="@LinkResolver.Instance.GetFacetLink(facet)" class="facet-item">@facet.Title@if (facet.Count > 0) {<text> (@facet.Count)</text>}</a></li>
                }
            </ul>
        }
        else
        {
            foreach (var facet in facetGroup.Facets)
            { 
                string facetUrl = LinkResolver.Instance.GetFacetLink(facet);
                
                <a href="@facetUrl" class="facet-link">
                    <div class="checkbox facet-item">
                        <label>
                            <input onclick="window.location = this.getAttribute('data-facet-url');"
                                   type="checkbox" data-facet-url="@facetUrl" 
                                   @if (facet.IsSelected) { <text>checked="checked"</text>}>@facet.Title @if (facet.Count > 0) {<text> (@facet.Count)</text>}
                        </label>
                    </div>
                </a>
            }
        }
    }
</div>